In [5]:
import numpy as np
import pandas as pd

### Series Exercises

Write a Pandas program to convert a Pandas module Series to Python list and modify its type.

In [6]:
ds = pd.Series([2, 4, 6, 8, 10])

print("Pandas Series and type")
print(ds)
print("Data type: {}\n".format(ds.dtype))

print("Convert Pandas Series to Python list...")
python_list = list(ds.values)
python_list_b = list(ds.to_list())

print("Python list data: {}".format(python_list))
print("Check Python list type: {}\n".format(type(python_list)))

print("Convert data to float...")
# put your code here to convert data to float
converted_ds = ds.astype('float')

print(converted_ds)
print("Check float data type: {}\n".format(converted_ds.dtype))

Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
Data type: int64

Convert Pandas Series to Python list...
Python list data: [2, 4, 6, 8, 10]
Check Python list type: <class 'list'>

Convert data to float...
0     2.0
1     4.0
2     6.0
3     8.0
4    10.0
dtype: float64
Check float data type: float64

Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [7]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])

ds_add = ds1 + ds2
print("ds1 + ds2 = \n{}\n".format(ds_add))

ds_sub = ds1 - ds2
print("ds1 - ds2 = \n{}\n".format(ds_sub))

ds_prod = ds1 * ds2
print("ds1 * ds2 = \n{}\n".format(ds_prod))

ds_div = ds1 / ds2
print("ds1 / ds2 = \n{}\n".format(ds_div))

ds1 + ds2 =
0     3
1     7
2    11
3    15
4    19
dtype: int64

ds1 - ds2 =
0    1
1    1
2    1
3    1
4    1
dtype: int64

ds1 * ds2 =
0     2
1    12
2    30
3    56
4    90
dtype: int64

ds1 / ds2 =
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

Write a Pandas program to convert Series of lists to one Series.

In [ ]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print("Original Series of list")
print(s)

merge_list = []
for val_list in s.to_list():
  merge_list.extend(val_list)
merge_series = pd.Series(merge_list)
print(merge_series)

Write a Pandas program to add some data to an existing Series.

In [ ]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)

print("\nAdding new data to Series")
s.append(pd.Series(['ciao']), ignore_index=True)

Write a Pandas program to create a subset of a given series containing only values greater than 6.

In [ ]:
s = pd.Series([0, 1,2,3,4,5,6,7,8,9,10])
print("Original Data Series:")
print(s)

print("Selecting only elements greater than 6")
new_s = s[s > 6]
print(new_s)

Write a Pandas program to change the order of index of a given series.

In [ ]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Data Series:")
print(s)

print("Changing index order...")
new_s = s.reindex(index=['C', 'D', 'A', 'B', 'E'])
print(new_s)

Write a Pandas program to calculate the mean and standard deviation of the data of a given Series.

In [ ]:
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
print("Original Data Series:")
print(s)

print("Mean: {}".format(s.mean()))
print("Std: {}".format(s.std()))

# Dataframes exercises

 Write a Pandas program to get the first 3 rows of a given DataFrame.

In [3]:

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)

print(df.iloc[:3,:])

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [4]:
df.head(3)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.

In [ ]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

print(df[['name', 'score']])

Write a Pandas program to select the specified columns and rows from a given DataFrame.
Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.

In [ ]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)

print(df.iloc[[1,3,5,6], [0, 1]])

Write a Pandas program to select the rows where the score is missing, i.e. is NaN.

In [ ]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(exam_data , index=labels)

print(df[df['score'].isnull()])

Write a Pandas program to select the rows the score is between 15 and 20 (inclusive).

In [ ]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)


print(df[(df['score']>=15) & (df['score']<=20)])

 Write a Pandas program to change the score in row 'd' to 11.5.

In [ ]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("\nOriginal data frame:")
print(df)

df.loc['d', 'score'] = 11.5
df

Write a Pandas program to calculate the sum of the examination attempts by the students.

In [ ]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

print(df['attempts'].sum())