In [2]:
import pandas as pd 
import numpy as np

1. Crea il DataFrame **vendite** che contiene la quantità di torte, biscotti e taralli (colonne) nei diversi giorni della settimana (righe).

  Inserisci valori casuali compresi tra 5 e 50 (np.random.seed(100)).

In [32]:
np.random.seed(100)
data = np.random.randint(5, 50, size=(7,3))
vendite = pd.DataFrame(data, columns=['torte', 'biscotti', 'taralli'], index=['LUN', 'MAR', 'MER', 'GIO', 'VEN', 'SAB', 'DOM'])
vendite.head()

     torte  biscotti  taralli
LUN     13        29        8
MAR     44        28       20
MER     15        35       39
GIO      7        39       19
VEN     39        29       20

2. Visualizza le vendite di torte durante tutta la settimana.

In [33]:
vendite

     torte  biscotti  taralli
LUN     13        29        8
MAR     44        28       20
MER     15        35       39
GIO      7        39       19
VEN     39        29       20
SAB     41        48       21
DOM     14        34       27

3. Ottieni le vendite del giovedi.

In [35]:
vendite.loc['GIO']

torte        7
biscotti    39
taralli     19
Name: GIO, dtype: int32

4. Visualizza le vendite di biscotti e taralli dal mercoledì alla domenica.

In [36]:
vendite.loc['MER':, ['biscotti', 'taralli']]

     biscotti  taralli
MER        35       39
GIO        39       19
VEN        29       20
SAB        48       21
DOM        34       27

5. Qual è il totale delle vendite per ogni prodotto durante la settimana?

In [37]:
vendite.sum()

torte       173
biscotti    242
taralli     154
dtype: int64

6. Qual è il giorno con il massimo delle vendite di torte?

In [38]:
max_torte = vendite['torte'].max()
vendite[vendite['torte'] == max_torte]
vendite['torte'].idxmax()

'MAR'

7. Aggiungi la colonna **Totale Vendite Giorno** che rappresenta la somma delle vendite di tutti i prodotti per ciascun giorno.

In [40]:
vendite['Totale Vendite Giorno'] = vendite.sum(axis=1).astype(np.int64)
vendite

     torte  biscotti  taralli  Totale Vendite Giorno
LUN     13        29        8                     50
MAR     44        28       20                     92
MER     15        35       39                     89
GIO      7        39       19                     65
VEN     39        29       20                     88
SAB     41        48       21                    110
DOM     14        34       27                     75

8. Quali giorni hanno avuto un totale di vendite giornaliere superiori a 80?

In [47]:
vendite[vendite['Totale Vendite Giorno'] > 80]

     torte  biscotti  taralli  Totale Vendite Giorno
MAR     44        28       20                     92
MER     15        35       39                     89
VEN     39        29       20                     88
SAB     41        48       21                    110

In [50]:
vendite.where(lambda df : df['Totale Vendite Giorno'] > 80)

     torte  biscotti  taralli  Totale Vendite Giorno
LUN     13        29        8                     50
MAR     44        28       20                     92
MER     15        35       39                     89
GIO      7        39       19                     65
VEN     39        29       20                     88
SAB     41        48       21                    110
DOM     14        34       27                     75