In [2]:
import numpy as np
import pandas as pd

- In Data Analysis, a significant amount of time is spent on data preparation: loading, cleaning, transforming, and rearranging.
    - Such tasks are often reported to take up 80% or more of an analystâ€™s time.
- Pandas provides you with a high-level, flexible, and fast set of tools to enable you to manipulate data into the right form.
- Much of the design and implementation of pandas has been driven by the needs of real-world applications.

## Handling Missing Data
- Missing data occurs commonly in many data analysis applications.
    - All of the descriptive statistics on pandas objects exclude missing data by default.
- The missing data is represented in pandas with the floating-point value NaN (Not a Number).
    - We call this a sentinel value that can be easily detected.

- In pandas, missing data is also referred  as  NA (i.e., "not available").
- In statistics applications, NA means
    - data that does not exist
    - data that exists but was not observed

- When cleaning up data for analysis, it is often important to do analysis on the missing data itself to identify data
collection problems or potential biases in the data caused by missing data.
- The built-in Python None value is also treated as NA

In [ ]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])

In [ ]:
string_data

In [ ]:
string_data.isnull()

In [ ]:
string_data[0] = None

In [ ]:
string_data

In [ ]:
string_data.isnull()

### Filtering Out Missing Data

- dropna: Remove missing values.

In [ ]:
data = pd.Series([1, np.nan, 3.5, np.nan, 7])

In [ ]:
data

In [ ]:
data.dropna()

In [ ]:
data

In [ ]:
data.notnull()

In [ ]:
#dropna is equivalent to
data[data.notnull()]

- dropna in Dataframe

In [ ]:
data = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan],
                     [np.nan, np.nan, np.nan], [np.nan, 6.5, 3.]])

In [ ]:
data

In [ ]:
data.dropna()

In [ ]:
cleaned = data.dropna(axis=1)

In [ ]:
cleaned

In [ ]:
data

- Passing how='all' will only drop rows that are all NA

In [ ]:
data.dropna(how='all')

In [ ]:
data.dropna(how='any')    # default

- if you want to keep only rows containing a certain number of observations.

In [ ]:
df = pd.DataFrame(np.random.randn(7, 3))
df.iloc[:4, 1] = np.nan
df.iloc[:2, 2] = np.nan

In [ ]:
df

In [ ]:
df.dropna(thresh=2)

### Filling In Missing Data

- *fillna*: Fill NA/NaN values using the specified method

In [ ]:
df

In [ ]:
df.fillna(42)

In [ ]:
df

In [ ]:
#if the value to fill in depends on the column
df.fillna({1: 0.5, 2: 0})

In [ ]:
df.fillna(0, inplace=True)

In [ ]:
df

- computing a value

In [ ]:
df = pd.DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = np.nan
df.iloc[4:, 2] = np.nan
df

In [ ]:
df.fillna(method='ffill')

In [ ]:
#limit for forward and backward filling, maximum number of consecutive periods to fill
df.fillna(method='ffill', limit=2)

In [ ]:
#we can use other functions
df.fillna(df.mean())

## Data Transformation

### Removing Duplicates

- *duplicated*
- drop_duplicated

In [3]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [5]:
data.duplicated(['k1'])

0    False
1    False
2     True
3     True
4     True
5     True
6     True
dtype: bool

In [ ]:
# data['k1'].duplicated() is equivalent to
data.duplicated(['k1'])

In [ ]:
data.drop_duplicates()

In [ ]:
data['v1'] = range(7)
data

In [6]:
data.drop_duplicates(['k2'], keep='last')

    k1  k2
1  two   1
2  one   2
4  one   3
6  two   4

### Transforming Data Using a Function or Mapping

- map: Map values of Series according to input correspondence.

In [7]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                             'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

1. passing dictionary

In [8]:
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}

In [9]:
data['animal'] = data['food'].str.lower().map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

### Replacing Values

- *replace*: Replace values given in *to_replace* with value.

In [2]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [3]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [4]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [ ]:
data.replace([-999, -1000], [np.nan, 0])

In [ ]:
data.replace({-999: np.nan, -1000: 0})

### Discretization and Binning

- *cut*: Bin values into discrete intervals. Use cut when you need to segment and sort data values into bins

In [5]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [6]:
bins = [18, 25, 35, 60, 100]

In [7]:
values = pd.cut(ages, bins)

In [8]:
values

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [ ]:
type(values)

In [9]:
values.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [10]:
values.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')

In [11]:
#These are the bin counts for the result of pandas.cut.
pd.value_counts(values)

/tmp/ipython-input-4026612463.py:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(values)

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
Name: count, dtype: int64

In [12]:
#parenthesis means that the side is open,
#while the square bracket means it is closed (inclusive).
#You can change which side is closed by passing right=False:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64, left]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [13]:
#You can also pass your own bin names by passing a list or array to the labels option:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
new_cats = pd.cut(ages, bins, labels=group_names)

In [ ]:
new_cats.categories

In [14]:
pd.value_counts(new_cats)

/tmp/ipython-input-1137026492.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(new_cats)

Youth         5
YoungAdult    3
MiddleAged    3
Senior        1
Name: count, dtype: int64

In [ ]:
# passing an integer, it will compute
#equal-length bins based on the minimum and maximum values in the data.
data = np.random.rand(20)
data

In [ ]:
pd.cut(data, 13).codes

### Permutation and Random Sampling

- *np.random.permutation* -> *pd.DataFrame.take*
- *pd.DataFrame.sample*

In [3]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))

In [4]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [ ]:
sampler = np.random.permutation(5)

In [ ]:
sampler

In [5]:
df.take(sampler)

NameError: name 'sampler' is not defined

In [10]:
# you can use the sample method with a random subset without replacement
#df.sample(n=3)
sampled_df = df.sample(n=2, axis=0)
sampled_df

    0   1   2   3
1   4   5   6   7
4  16  17  18  19

### Computing Indicator/Dummy Variables/ One Hot Encoding (OHE)
- This converts a categorical variable into a â€œdummyâ€ or â€œindicatorâ€ matrix.

- If a column in a DataFrame has k distinct values,
    - you would derive a matrix or DataFrame with k columns containing all 1s and 0s.
- pandas has a get_dummies function for doing this

In [11]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})

In [12]:
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [13]:
pd.get_dummies(df['key'])

       a      b      c
0  False   True  False
1  False   True  False
2   True  False  False
3  False  False   True
4   True  False  False
5  False   True  False

In [ ]:
pd.get_dummies(df['key'], dtype='int')

In [ ]:
dummies = pd.get_dummies(df['key'], prefix='key')

In [ ]:
dummies

In [ ]:
df[['data1']]

In [ ]:
#to join the result in the original dataframe
df_with_dummy = df[['data1']].join(dummies)
df_with_dummy

# Data Wrangling: Clean, Transform, Merge, Reshape

- Much of the programming work in data analysis and modeling is spent on data preparation
    - loading, cleaning, transforming, and rearranging.
    -  the way that data is stored in files or databases is not the way you need it.
- Fortunately, pandas along with the Python standard library provide you with a high-level, flexible, and high-performance set of core manipulations and algorithms to enable you to wrangle data into the right form without much trouble.

## Hierarchical Indexing

- Hierarchical indexing  enables you to have multiple (two or more) index levels on an axis.

In [14]:
data = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data

a  1    2.309791
   2   -0.621795
   3   -0.075534
b  1   -0.009890
   3    0.038474
c  1   -0.701856
   2    0.603519
d  2   -2.001531
   3    0.750041
dtype: float64

In [15]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

- partial indexing

In [16]:
data["a"]

1    2.309791
2   -0.621795
3   -0.075534
dtype: float64

In [17]:
data["b":"d"]

b  1   -0.009890
   3    0.038474
c  1   -0.701856
   2    0.603519
d  2   -2.001531
   3    0.750041
dtype: float64

In [ ]:
data[["b","d"]]

In [ ]:
data

In [ ]:
data[:,3]

- Hierarchical indexing provides a consistent way to rearrange data in a DataFrame.

  - stack()
    - takes a dataframe and returns a series
    - â€œrotatesâ€ or pivots from the columns in the data to the rows
  - unstack()
    - takes a series and returns a dataframe
    - pivots from the rows into the columns

<img src="https://drive.google.com/uc?id=1e5Qd4sSQvwu-4lKQHpn8IEeDR4CVs_Ns" width="60%" allow="autoplay"></img>

In [18]:
data

a  1   -0.381612
   2   -0.298712
   3    0.528485
b  1    0.539047
   3    1.452386
c  1   -1.475638
   2   -0.815619
d  2    0.853902
   3   -0.778624
dtype: float64

In [19]:
data.unstack()

          1         2         3
a -0.381612 -0.298712  0.528485
b  0.539047       NaN  1.452386
c -1.475638 -0.815619       NaN
d       NaN  0.853902 -0.778624

In [ ]:
dataDF = data.unstack()
type(dataDF)

In [ ]:
dataDF.stack()

- In DataFrame, either axis can have a hierarchical index

In [20]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=[['Ohio', 'Ohio', 'Colorado'],
                              ['Green', 'Red', 'Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [21]:
frame.index

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [22]:
frame.columns

MultiIndex([(    'Ohio', 'Green'),
            (    'Ohio',   'Red'),
            ('Colorado', 'Green')],
           )

In [ ]:
frame["Ohio"]

In [ ]:
frame.loc["a",:]

In [ ]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

## Database-style DataFrame Merges

- pandas.merge connects rows in DataFrames based on one or more keys.
- pandas.concat glues or stacks together objects along an axis.
- combine_first instance method enables splicing together overlapping data to fill in missing values in one object with values from another.

- Merge or join operations combine datasets by linking rows using one or more keys.
    - These operations are central to relational databases (e.g., SQL-based).

In [23]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],
                    'data2': range(3)})

In [24]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [25]:
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [26]:
pd.merge(df1, df2) # natural join

  key  data1  data2
0   b      0      1
1   b      1      1
2   a      2      0
3   a      4      0
4   a      5      0
5   b      6      1

In [ ]:
df1.merge(df2)

In [ ]:
pd.merge(df1, df2, on='key') # join using the attribute specified in the "on" parameter

In [18]:
df3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})
df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'],
                    'data2': range(3)})

In [19]:
df3

  lkey  data1
0    b      0
1    b      1
2    a      2
3    c      3
4    a      4
5    a      5
6    b      6

In [20]:
df4

  rkey  data2
0    a      0
1    b      1
2    d      2

In [ ]:
pd.merge(df3,df4)

In [24]:
#we can specify the join attributes on the left and right tables
pd.merge(df3, df4, left_on='lkey', right_on='rkey')[['lkey', 'data1', 'data2']]

  lkey  data1  data2
0    b      0      1
1    b      1      1
2    a      2      0
3    a      4      0
4    a      5      0
5    b      6      1

In [ ]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey', how='left')

In [ ]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey', how='right')

In [ ]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey', how='outer')

In [ ]:
left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],
                     'key2': ['one', 'two', 'one'],
                     'lval': [1, 2, 3]})
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                      'key2': ['one', 'one', 'one', 'two'],
                      'rval': [4, 5, 6, 7]})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on=['key1', 'key2'], how='outer')

- treatment of overlapping column names.
-  merge has a suffixes option for specifying strings to append to overlapping names in the left and right DataFrame objects

In [ ]:
pd.merge(left, right, on='key1')

In [ ]:
pd.merge(left, right, on='key1', suffixes=('_left', '_right'))

- Merging on Index
    - the merge key(s) in a DataFrame can be found in its index.

In [ ]:
left1 = pd.DataFrame({'key': ['a', 'b', 'a', 'a', 'b', 'c'],
                      'value': range(6)})
right1 = pd.DataFrame({'group_val': [3.5, 7]}, index=['a', 'b'])

In [ ]:
left1

In [ ]:
right1

In [ ]:
pd.merge(left1, right1, left_on='key', right_index=True)

In [ ]:
#we can use the indexes on both tables

left2 = pd.DataFrame([[1., 2.], [3., 4.], [5., 6.]],
                     index=['a', 'c', 'e'],
                     columns=['Ohio', 'Nevada'])
right2 = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [13, 14]],
                      index=['b', 'c', 'd', 'e'],
                      columns=['Missouri', 'Alabama'])

In [ ]:
left2

In [ ]:
right2

In [ ]:
pd.merge(left2, right2, left_index=True, right_index=True)

- DataFrame has a convenient **join** instance for merging by index
 - It performs a left join on the join keys, exactly preserving the left frameâ€™s row index

In [ ]:
left2.join(right2)

In [ ]:
pd.merge(left2, right2, left_index=True, right_index=True, how='left')

In [ ]:
left2.join(right2, how='inner')

In [ ]:
left1

In [ ]:
right1

In [ ]:
# we can join by index and attribute as with the merge
left1.join(right1, on='key')

In [ ]:
#joining more tables
another = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [16., 17.]],
                       index=['a', 'c', 'e', 'f'],
                       columns=['New York', 'Oregon'])
another

In [ ]:
left2.join([right2, another])

## Concatenating Along an Axis

- Another kind of data combination operation is referred to interchangeably as concatenation, binding, or stacking

In [ ]:
arr = np.arange(12).reshape((3, 4))
arr

In [ ]:
np.concatenate([arr, arr])

In [ ]:
np.concatenate([arr, arr], axis=1)

In the context of pandas objects such as Series and DataFrame, having labeled axes
enable you to further generalize array concatenation

In [ ]:
s1 = pd.Series([0, 1], index=['a', 'b'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = pd.Series([5, 6], index=['f', 'g'])

In [ ]:
s1

In [ ]:
s2

In [ ]:
s3

In [ ]:
pd.concat([s1,s2,s3])

In [ ]:
pd.concat([s1,s2,s3], axis=1)

In [ ]:
s4 = pd.concat([s1, s3])

In [ ]:
type(s4)

In [ ]:
s4

In [ ]:
pd.concat([s1, s4], axis=1)

In [ ]:
s1

In [ ]:
s4

In [ ]:
pd.concat([s1, s4], axis=1, join='inner')

- A potential issue is that the concatenated pieces are not identifiable in the result.

In [ ]:
pd.concat([s1,s2,s3], keys=['s1','s2','s3'])

In [ ]:
pd.concat([s1,s2,s3], keys=['s1','s2','s3']).unstack()

- The same logic extends to DataFrame objects:

In [ ]:
df1 = pd.DataFrame(np.arange(6).reshape(3, 2), index=['a', 'b', 'c'],
                   columns=['one', 'two'])
df2 = pd.DataFrame(5 + np.arange(4).reshape(2, 2), index=['a', 'c'],
                   columns=['three', 'four'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.concat([df1,df2])

In [ ]:
pd.concat([df1,df2], axis=1)

In [ ]:
pd.concat([df1,df2], axis=1, keys=['df1','df2'])

- when the row index does not contain any relevant data

In [ ]:
df1 = pd.DataFrame(np.random.randn(3, 4), columns=['a', 'b', 'c', 'd'])
df2 = pd.DataFrame(np.random.randn(2, 3), columns=['b', 'd', 'a'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.concat([df1,df2])

In [ ]:
pd.concat([df1,df2], ignore_index=True)

In [ ]:
pd.concat([df1,df2], axis=1)

## Combining Data with Overlap

- You may have two datasets whose indexes overlap in full or part

In [ ]:
a = pd.Series([np.nan, 2.5, np.nan, 3.5, 4.5, np.nan],
              index=['f', 'e', 'd', 'c', 'b', 'a'])
b = pd.Series(np.arange(len(a), dtype=np.float64),
              index=['f', 'e', 'd', 'c', 'b', 'a'])

In [ ]:
a

In [ ]:
b

In [ ]:
b[-1]=np.nan

In [ ]:
b

In [ ]:
np.where(pd.isnull(a), b, a)

- the **combine_first method** performs the equivalent of this operation along with pandasâ€™s usual data alignment logic

In [ ]:
b.combine_first(a)

- With DataFrames, combine_first does the same thing column by column
    - you can think of it as â€œpatchingâ€ missing data in the calling object with data from the object you pass

In [ ]:
df1 = pd.DataFrame({'a': [1., np.nan, 5., np.nan],
                    'b': [np.nan, 2., np.nan, 6.],
                    'c': range(2, 18, 4)})
df2 = pd.DataFrame({'a': [5., 4., np.nan, 3., 7.],
                    'b': [np.nan, 3., 4., 6., 8.]})

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1.combine_first(df2)

In [ ]:
df2.combine_first(df1)

## Reshaping and Pivoting
- There are a number of basic operations for rearranging tabular data.
- These are referred to as reshape or pivot operations.

In [3]:
import pandas as pd
import numpy as np 

data = pd.DataFrame(np.arange(6).reshape((2, 3)),
                    index=pd.Index(['Ohio', 'Colorado'], name='state'),
                    columns=pd.Index(['one', 'two', 'three']))

In [4]:
data

          one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [5]:
data.stack()

state
Ohio      one      0
          two      1
          three    2
Colorado  one      3
          two      4
          three    5
dtype: int32

In [6]:
stacked = data.stack()

In [7]:
stacked

state
Ohio      one      0
          two      1
          three    2
Colorado  one      3
          two      4
          three    5
dtype: int32

In [8]:
stacked.unstack()

          one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

- Unstacking might introduce missing data

In [ ]:
s1 = pd.Series([0, 1, 2, 3], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([4, 5, 6], index=['c', 'd', 'e'])

In [ ]:
s1

In [ ]:
s2

In [ ]:
data2 = pd.concat([s1, s2], keys=['one', 'two'])
data2

In [ ]:
data2.unstack()

# Data Aggregation and Group Operations

- Categorizing a dataset and applying a function to each group is often a critical component of a data analysis workflow.
- After loading, merging, and preparing a dataset, you may need to compute group statistics or pivot tables for reporting or visualization purposes.

### GroupBy Mechanics
- data contained in a pandas object is split into groups based on one or more keys.
    - The splitting is performed on a particular axis of an object.
        - For example, a DataFrame can be grouped on its rows (axis=0) or its columns (axis=1).
- a function is applied to each group, producing a new value.
- the results of all those function applications are combined into a result object.

<img src="https://drive.google.com/uc?id=1B559BfpzVoV6i9QdzmeA-GLrGdZTd-2s" width=500>

In [ ]:
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -1.235546 -0.268978
1    a  two -0.409844  0.347392
2    b  one  0.721271  0.604915
3    b  two  0.632785  0.425030
4    a  one  0.747839 -1.514948

- We want to compute the mean of the data1 column using the labels from key1.

In [26]:
grouped = df['data1'].groupby(df['key1'])

In [27]:
grouped

- This grouped variable is now a GroupBy object.
- It has not actually computed anything yet except for some intermediate data about the group key df['key1'].
- The idea is that this object has all of the information needed to then apply some operation to each of the groups.

In [ ]:
grouped.max()

In [ ]:
grouped.mean()

In [ ]:
grouped.sum()

In [12]:
df['data1'].groupby([df['key1'], df['key2']]).mean().head()

key1  key2
a     one    -0.243854
      two    -0.409844
b     one     0.721271
      two     0.632785
Name: data1, dtype: float64

In [13]:
df['data1'].groupby([df['key1'], df['key2']]).mean().unstack()

key2       one       two
key1
a    -0.243854 -0.409844
b     0.721271  0.632785

In [ ]:
df

In [ ]:
df.groupby(df['key1']).mean()

In [ ]:
df.groupby(df['key1']).mean(numeric_only=True)

- Note that there is no key2 column in the result.
    - df['key2'] is not numeric data

    
    
- the method size returns a Series containing group sizes

In [ ]:
df.groupby(['key1', 'key2']).size()

- Iterating Over Groups
    - The GroupBy object supports iteration,
    - It generates a sequence of 2-tuples containing the group name along with the chunk of data

In [29]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)
    print("\n\n")

a
  key1 key2     data1     data2
0    a  one  0.308753 -0.305334
1    a  two  0.657684 -0.283113
4    a  one -0.555638  0.201989



b
  key1 key2     data1     data2
2    b  one  2.250103 -0.481602
3    b  two  0.688574 -0.148931

In [ ]:
# multiple keys in the group by clause
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2))
    print(group)
    print("\n\n")

- you can choose to do whatever you want with the pieces of data.
- A recipe you may find useful is computing a dict of the data pieces as a one-liner:

In [ ]:
pieces = dict(list(df.groupby('key1')))

In [ ]:
pieces

In [ ]:
pieces['a']

In [ ]:
pieces['b']

- By default groupby groups on axis=0, but you can group on any of the other axes.

In [ ]:
df.dtypes

In [ ]:
df

In [ ]:
grouped = df.groupby(df.dtypes, axis=1)

In [ ]:
grouped

In [ ]:
for dtype, group in grouped:
    print(dtype)
    print(group)

### Selecting a Column or Subset of Columns
- Indexing a GroupBy object created from a DataFrame with a column name or array of column names has the effect of column subsetting for aggregation

In [ ]:
df.groupby('key1')['data1']
# it is equal to df['data1'].groupby(df['key1'])

In [ ]:
df.groupby('key1')[['data2']]
# it is equal to df[['data2']].groupby(df['key1'])

In [ ]:
df.groupby('key1')['data2'].mean()

### Grouping with Dicts and Series

In [ ]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])

In [ ]:
people

In [ ]:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
           'd': 'blue', 'e': 'orange'}

In [ ]:
by_column = people.groupby(mapping, axis=1)

In [ ]:
by_column.sum()

- The same functionality holds for Series, which can be viewed as a fixed-size mapping

In [ ]:
map_series = pd.Series(mapping)

In [ ]:
map_series

In [ ]:
by_columnSeries = people.groupby(map_series, axis=1)

In [ ]:
by_columnSeries.mean()

### Grouping with Functions
- Any function passed as a group key will be called once per index value, with the return values being used as the group names.

In [ ]:
people

In [ ]:
people.groupby(len).sum()

In [ ]:
def name_with_j(x):
  if x.startswith("J"):
    return True
  return False

In [ ]:
name_with_j("Jim")

In [ ]:
name_with_j("Albert")

In [ ]:
people.groupby(name_with_j).sum()

- Mixing functions with arrays, dicts, or Series is not a problem

In [ ]:
people

In [ ]:
key_list = ['one', 'one', 'one', 'two', 'two']
people.groupby([len, key_list]).min()

### Data Aggregation

<img src="https://drive.google.com/uc?id=1Azj6fJq9KLaSZoA0GSLl2OwJCUzw-Ba2" width=500>

- Aggregations refer to any data transformation that produces scalar values from arrays.

- Many common aggregations, such as those found in the above table, have optimized implementations.

- You are not limited to only this set of methods.
    - For example quantile is not explicitly implemented for GroupBy, it is a Series method and thus available for use.

In [30]:
grouped = df.groupby('key1')
grouped['data1'].quantile()

key1
a    0.308753
b    1.469338
Name: data1, dtype: float64

-  you can implement a custom function
- you have to pass the function to the agg() method

In [ ]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [ ]:
grouped = df.groupby('key1')

In [ ]:
grouped['data1'].agg(peak_to_peak)

In [ ]:
#Note that the method describes works applied to groups
grouped.describe()

## [BONUS] Column-Wise and Multiple Function Application

In [ ]:
#caricare il file su colab
tips = pd.read_csv('tips.csv')

In [ ]:
tips.head(10)

In [ ]:
tips.shape

In [ ]:
tips['tip_pct'] = tips['tip'] / tips['total_bill']

In [ ]:
tips.head(10)

- aggregating a Series or all of the columns of a DataFrame is a matter of using aggregate with the desired function or calling a method like mean or std.
- you may want to aggregate using a different function depending on the column, or multiple functions at once.

In [ ]:
#this is a simple grouping
grouped = tips.groupby(['day', 'smoker'])

In [ ]:
grouped_pct = grouped['tip_pct']

In [ ]:
# for simple statistics, you can pass the name of the function as a string
grouped_pct.agg('mean')

In [ ]:
grouped_pct.mean()

In [ ]:
# If you pass a list of functions or function names, you get back a DataFrame with column names taken from the functions
grouped_pct.agg(['mean', 'std', peak_to_peak])

In [ ]:
grouped_pct.agg([('Media', 'mean'), ('Deviazione std', np.std)])

In [ ]:
#you can specify a list of functions to apply to all of the columns or different functions per column
#all columns
functions = ['count', 'mean', 'max']

In [ ]:
grouped[['tip_pct', 'total_bill']].agg(functions)

In [ ]:
#aggregation on a selection of the columns

In [ ]:
grouped.agg({'tip' : np.max, 'size' : 'sum'})

## [BONUS] Apply: General split-apply-combine

- We want to select the top five values by group

In [ ]:
def top(df, n=5, column='tip_pct'):
    return df.sort_values(by=column)[-n:]

In [ ]:
top(tips, n=6)

In [ ]:
tips[["day","total_bill"]].groupby(["day"]).max()

In [ ]:
tips[["day","total_bill"]].groupby("day").apply(top, column="total_bill")

In [ ]:
tips[["day","total_bill"]].groupby("day").apply(top, n=1, column="total_bill")

## Pivot Tables

- A pivot table
    - aggregates a table of data by one or more keys,
    - arranges the data in a rectangle with some of the group keys along the rows and the columns.

In [16]:
#caricare il file su colab
tips = pd.read_csv('./data/tips.csv')

In [17]:
tips.head(10)

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3
3       23.68  3.31     No  Sun  Dinner     2
4       24.59  3.61     No  Sun  Dinner     4
5       25.29  4.71     No  Sun  Dinner     4
6        8.77  2.00     No  Sun  Dinner     2
7       26.88  3.12     No  Sun  Dinner     4
8       15.04  1.96     No  Sun  Dinner     2
9       14.78  3.23     No  Sun  Dinner     2

In [18]:
tips.pivot_table(index=['day', 'smoker']) # the default aggregation type is mean

TypeError: agg function failed [how->mean,dtype->object]

In [19]:
tips.pivot_table(index=['day', 'smoker'], aggfunc='first')

             size    time   tip  total_bill
day  smoker
Fri  No         2  Dinner  3.50       22.49
     Yes        2  Dinner  3.00       28.97
Sat  No         3  Dinner  3.35       20.65
     Yes        4  Dinner  3.00       38.01
Sun  No         2  Dinner  1.01       16.99
     Yes        2  Dinner  3.00       17.51
Thur No         4   Lunch  4.00       27.20
     Yes        2   Lunch  3.00       19.44

In [ ]:
tips.pivot_table(index=['day', 'smoker'], values=['size', 'tip'], aggfunc='sum')

In [ ]:
tips.pivot_table(index=['day', 'size'], values='tip', columns='smoker')

In [ ]:
tips.pivot_table(index=['day', 'size'], values='tip', columns='smoker', margins=True)

In [ ]:
tips.pivot_table(index=['day', 'size'], values='tip', columns='smoker', margins=True, fill_value=-1000)

## [Bonus] Cross-Tabulations: Crosstab
- A cross-tabulation (or crosstab for short) is a special case of a pivot table that computes group frequencies.

In [ ]:
states= ['USA','USA','UK','IT','UK','UK','IT','USA']
gender= ['M','F','F','M','M','M','F','M']

In [ ]:
data = pd.DataFrame({'states':states,'gender':gender})

In [ ]:
data

In [ ]:
pd.crosstab(data.states, data.gender)

In [ ]:
pd.crosstab(data.gender, data.states)

In [ ]:
pd.crosstab(data.gender, data.states, margins=True)