**Analisi dei dati anagrafici dei dipendenti di un'azienda**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

1. Inserisci in un dataframe il contenuto del file "dipendenti.csv".

   Quante righe e quante colonne ci sono? Ci sono duplicati?

In [34]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/2025/pandas2/data/dipendenti.csv', sep=';')
df.count().max()
df.duplicated().value_counts()

False    13
True      2
Name: count, dtype: int64

2. Crea una nuova colonna chiamata **Livello Esperienza**, utilizzando la colonna **Anni di esperienza**. Se l'esperienza è minore di 5 anni, mappa il valore a "Junior", tra 5 e 10 a "Mid" e più di 10 a "Senior".

In [35]:
df['Livello Esperienza'] = df['Anni di esperienza'].map(lambda anni : 'Junior' if anni < 5 else('Senior' if anni > 10 else 'Mid'))
df.head()

,Nome,Cognome,Età,Anni di esperienza,Dipartimento,Stipendio,Città,Livello Esperienza
0,Marco,Rossi,NaN,2,Vendite,30000,Milano,Junior
1,Anna,Bianchi,32.0,7,Information Technology,45000,Roma,Mid
2,Luca,Verdi,28.0,5,Vendite,37000,Milano,Mid
3,Sara,Neri,40.0,12,Information Technology,62000,Roma,Senior
4,Giorgio,Rossi,45.0,20,Human Resources,70000,Torino,Senior

3. Sostituisci i nomi dei dipartimenti con le seguenti abbreviazioni: Vendite -> 'VEN', Information Technology -> 'IT', Human Resources -> 'HR'. Quanti dipendenti ci sono per ogni dipartimento?

In [36]:
df['Dipartimento'] = df['Dipartimento'].map(lambda dip : 'VEN' if dip == 'Vendite' else('IT' if dip == 'Information Technology' else 'HR'))
df.head()

,Nome,Cognome,Età,Anni di esperienza,Dipartimento,Stipendio,Città,Livello Esperienza
0,Marco,Rossi,NaN,2,VEN,30000,Milano,Junior
1,Anna,Bianchi,32.0,7,IT,45000,Roma,Mid
2,Luca,Verdi,28.0,5,VEN,37000,Milano,Mid
3,Sara,Neri,40.0,12,IT,62000,Roma,Senior
4,Giorgio,Rossi,45.0,20,HR,70000,Torino,Senior

4. Crea un'altra colonna con i valori di età discretizzati in 5 gruppi, a quale gruppo di età appartiene la maggior parte dei dipendenti?

In [37]:
df['Età discretizzata'] = pd.cut(df['Età'], 5)
df['Età discretizzata'].value_counts()

Età discretizzata
(27.983, 31.4]    5
(31.4, 34.8]      5
(41.6, 45.0]      2
(38.2, 41.6]      1
(34.8, 38.2]      0
Name: count, dtype: int64

5. Sostituisci i valori mancanti della colonna età con il valore medio di età per i dipendenti dello stesso settore.

In [57]:
mean_transform_series = df.groupby('Dipartimento')['Età'].transform('mean')
df['Età'] = df['Età'].fillna(mean_transform_series)
df.head()

,Nome,Cognome,Età,Anni di esperienza,Dipartimento,Stipendio,Città,Livello Esperienza,Età discretizzata
0,Marco,Rossi,30.285714,2,VEN,30000,Milano,Junior,NaN
1,Anna,Bianchi,32.000000,7,IT,45000,Roma,Mid,"(31.4, 34.8]"
2,Luca,Verdi,28.000000,5,VEN,37000,Milano,Mid,"(27.983, 31.4]"
3,Sara,Neri,40.000000,12,IT,62000,Roma,Senior,"(38.2, 41.6]"
4,Giorgio,Rossi,45.000000,20,HR,70000,Torino,Senior,"(41.6, 45.0]"

6. Verifica se, in media, lo stipendio di chi vive a Milano è superiore rispetto a quello di chi vive a Roma.

In [60]:
df.groupby('Città')['Stipendio'].mean()

,Nome,Cognome,Età,Anni di esperienza,Dipartimento,Stipendio,Città,Livello Esperienza,Età discretizzata
0,Marco,Rossi,30.285714,2,VEN,30000,Milano,Junior,NaN
1,Anna,Bianchi,32.000000,7,IT,45000,Roma,Mid,"(31.4, 34.8]"
2,Luca,Verdi,28.000000,5,VEN,37000,Milano,Mid,"(27.983, 31.4]"
3,Sara,Neri,40.000000,12,IT,62000,Roma,Senior,"(38.2, 41.6]"
4,Giorgio,Rossi,45.000000,20,HR,70000,Torino,Senior,"(41.6, 45.0]"
5,Francesca,Ferrari,45.000000,15,HR,58000,Roma,Senior,NaN
6,Elena,Romano,34.000000,8,IT,52000,Milano,Mid,"(31.4, 34.8]"
7,Simone,Gialli,30.000000,4,VEN,33000,Napoli,Junior,"(27.983, 31.4]"
8,Valentina,Rossi,30.000000,9,VEN,32000,Napoli,Mid,"(27.983, 31.4]"
9,Giorgio,Rossi,45.000000,20,HR,70000,Torino,Senior,"(41.6, 45.0]"
10,Anna,Bianchi,32.000000,7,VEN,45000,Milano,Mid,"(31.4, 34.8]"
11,Sara,Bianchi,32.000000,7,VEN,25000,Roma,Mid,"(31.4, 34.8]"
12,Sara,Romano,33.000000,8,IT,40000,Milano,Mid,"(31.4, 34.8]"
13,Simone,Gialli,30.000000,4,VEN,33000,Napoli,Junior,"(27.983, 31.4]"
14,Valentina,Rossi,30.000000,12,VEN,42000,Milano,Senior,"(27.983, 31.4]"