In [1]:
import pandas as pd
import numpy as np

# Grouping data

In [ ]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks.head()

       country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0  Afghanistan              0  ...                           0.0         AS
1      Albania             89  ...                           4.9         EU
2      Algeria             25  ...                           0.7         AF
3      Andorra            245  ...                          12.4         EU
4       Angola            217  ...                           5.9         AF

[5 rows x 6 columns]

## Which continent drinks more beer on average?

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

## For each continent print the statistics for wine consumption

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

## Print the mean alcohol consumption per continent for every column

           beer_servings  ...  total_litres_of_pure_alcohol
continent                 ...
AF             61.471698  ...                      3.007547
AS             37.045455  ...                      2.170455
EU            193.777778  ...                      8.617778
OC             89.687500  ...                      3.381250
SA            175.083333  ...                      6.308333

[5 rows x 4 columns]

## Print the median alcohol consumption per continent for every column

           beer_servings  ...  total_litres_of_pure_alcohol
continent                 ...
AF                  32.0  ...                          2.30
AS                  17.5  ...                          1.20
EU                 219.0  ...                         10.00
OC                  52.5  ...                          1.75
SA                 162.5  ...                          6.85

[5 rows x 4 columns]

## Print the mean, min and max values for spirit consumption

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302

# Pivoting

In [ ]:
df = pd.read_csv('data/titanic.csv')
df.head()

   survived  pclass     sex   age  ...  embark_town  alive  alone Unnamed: 15
0         0       3    male  22.0  ...  Southampton     no  False         NaN
1         1       1  female  38.0  ...    Cherbourg    yes  False         NaN
2         1       3  female  26.0  ...  Southampton    yes   True         NaN
3         1       1  female  35.0  ...  Southampton    yes  False         NaN
4         0       3    male  35.0  ...  Southampton     no   True         NaN

[5 rows x 16 columns]

## Find average survival rate by gender

        survived
sex
female  0.742038
male    0.188908

## Create a Pivot table and find survival rate by gender on various classes

class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

## Create a Pivot table and find survival rate by gender, age wise of various classes

class         First  Second  Third
sex    age
female 0.75     NaN     NaN   1.00
       1.00     NaN     NaN   1.00
       2.00     0.0     1.0   0.25
       3.00     NaN     1.0   0.00
       4.00     NaN     1.0   1.00
...             ...     ...    ...
male   70.00    0.0     0.0    NaN
       70.50    NaN     NaN   0.00
       71.00    0.0     NaN    NaN
       74.00    NaN     NaN   0.00
       80.00    1.0     NaN    NaN

[145 rows x 3 columns]

## Partition each of the passengers into four categories based on their age (age categories (0, 10), (10, 30), (30, 60), (60, 80)) and then create a pivot table that counts survival by gender, categories wise age of various classes

In [ ]:
# pd.cut()
# pivot_table()

pclass              1     2      3
sex    age
female (0, 10]    1.0   8.0   22.0
       (10, 30]  34.0  36.0   57.0
       (30, 60]  48.0  30.0   22.0
       (60, 80]   2.0   NaN    1.0
male   (0, 10]    2.0   9.0   22.0
       (10, 30]  24.0  43.0  151.0
       (30, 60]  63.0  44.0   76.0
       (60, 80]  12.0   3.0    4.0